// .container {
//   margin-top: 20px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .mat-elevation-z8 {
//   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
// }

// .nav-tabs {
//   margin-bottom: 15px;
// }

// .card {
//   width: 100%;
// }

// .card-body {
//   overflow-x: auto;
// }

// img.img-thumbnail {
//   border-radius: 4px;
// }

// mat-paginator {
//   margin-top: 10px;
// }

/* Add this to your SCSS file */

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
}

.profile-image {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  object-fit: cover;
}

/* Optional: Adjust button sizes on smaller screens */
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.profile-image {
  padding: 2px;
  width: 100px; /* Adjust as needed */
  height: 100px;
  // border-radius: 50%; /* Optional: makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
