/* src/app/navbar/navbar.component.scss */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #007bff;
  color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: left 0.3s ease;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  font-size: 24px;
}

.title {
  font-size: 20px;
}
