<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleSidebar()"
  >
    <span
      class="navbar-toggler-icon"
      [ngClass]="{
        'bi bi-chevron-double-left': !isCollapsed,
        'bi bi-chevron-double-right': isCollapsed
      }"
    ></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto me-2">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-white"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle me-2"></i>
          {{ user?.name || 'User' }} <br> {{ user?.role || 'Role' }}
        </a>
        <div class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['dashboard/profile, userId']"
            [ngClass]="{
              'active-link': isActive,
              'inactive-link': !isActive
            }"
            (click)="toggleActive()"
          >
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Signout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Side navigation drawer -->
<div class="d-flex">
  <div
    class="bg-dark border-right sidebar"
    [ngClass]="{ 'collapsed': isCollapsed }"
    id="sidebar"
  >
    <!-- Sidebar Toggle Button -->
    <button
      class="btn btn-dark d-lg-none mb-3 ms-3 mt-3"
      (click)="toggleSidebar()"
    >
      <i class="bi bi-list"></i>
    </button>

    <!-- Sidebar Links -->
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of items">
        <a
          class="nav-link text-white"
          [routerLink]="item.link"
          routerLinkActive="active"
        >
          <span
            [innerHTML]="item.icon"
            class="me-2"
            [ngClass]="{ 'icon-only': isCollapsed }"
          ></span>
          <span *ngIf="!isCollapsed" class="nav-text">
            {{ item.name }}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main content area -->
  <div class="container-fluid p-4">
    <router-outlet></router-outlet>
    <div *ngIf="showVisualization">
      <app-user-visualization></app-user-visualization>
    </div>
  </div>
</div>
